<%- include('header') -%>

<h1><%= title %></h1>
<ul class="errors">
  <% if (errors) { errors.forEach(function(error) { %>
    <li class="alert alert-danger"><%= error.msg %></li>
  <% });} %>
</ul>
<form method="post" action="/posts/add" enctype="multipart/form-data">
  <div class="form-group">
    <label>Title:</label>
    <input class="form-control" name="title" type="text"/>
  </div>
  <div class="form-group">
    <label>Category</label>
    <select class="form-control" name="category">
      <% categories.forEach(function(category) { %>
      <option value="<%= category.name %>"><%= category.name %></option>
      <% }); %>
    </select>
  </div>
  <div class="form-group">
    <label>Body</label>
    <textarea class="form-control" name="body" id="body"></textarea>
  </div>
  <div class="form-group">
    <label>Main Image:</label>
    <input class="form-control" name="mainimage" type="file"/>
  </div>
  <div class="form-group">
    <label>Author:</label>
    <select class="form-control" name="author">
      <option value="Brad Traversy">Brad Traversy</option>
      <option value="John Doe">John Doe</option>
    </select>
  </div>
  <input class="btn btn-default" name="submit" type="submit" value="Save"/>
</form>

<footer>
  <p>NodeBlog &copy; 2016</p>
</footer>
</div> <!-- Close div.container in header.ejs-->

<script src="/ckeditor/ckeditor.js"></script>
<script>CKEDITOR.replace('body');</script>
</body>
</html>
