<%- include('header') -%>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">

      <% if (posts.length > 0) { %>
        <% posts.forEach(function(post) { %>
          <div class="blog-post">
            <h2 class="blog-post-title"><a href="/posts/show/<%= post._id %>"><%= post.title %></a></h2>
            <p class="blog-post-meta">
              Posted in <a href="/categories/show/<%= post.category %>"><%= post.category %></a>
              by <b><%= post.author %></b>
              on <b><%= moment(post.date).format("DD MMM YYYY") %></b>
            </p>
            <img class="card-img-top" src="/uploads/<%= post.mainimage %>" alt="Card image cap">
            <%- truncateText(post.body, 400) %>
            <a class="more" href="/posts/show/<%= post._id %>">Read More</a>
          </div>
        <% }); %>
        <nav class="blog-pagination">
          <a class="btn btn-outline-primary" href="#">Older</a>
          <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
        </nav>
      <% } else { %>
        <h4>There are no posts in this category</h4>
        <a href="/">Back to Home</a>
      <% } %>

    </div><!-- /.blog-main -->

    <%- include('aside') -%>

  </div><!-- /.row -->

</main><!-- /.container -->

<%- include('footer') -%>
